h1 {
    text-align: center;
    font-size: 30px;
}

img {
   display: block;      /* transforma a imagem em bloco */
  margin: 0 auto;      /* centraliza horizontalmente */
}
p {
   font-size: 20px;
}